{% extends 'base.html'%}


{% block content%}
<div class="row m-0">
    <div class=" row g-0 ">
      <div class="col-11 topleiste"> 
          <span class="toptitel"><strong>NEUEN PATIENTEN ANLEGEN</strong></span>
      </div>

    </div>
      <div class="col border side">
  
      </div>

        
      <div class="col-11 " style="height: 100vh;">

        <div class ="col-md-6 offset-md-3">            
            <form method="POST" action="{% url  'add_customer' %}">
                {% csrf_token %}
                {{ form.as_p }}
            </br>
                <button type="submit" class="btn btn-lg btn-success">SPEICHERN</button>
                <a type="button" class="btn btn-lg btn-secondary" href="{% url 'customers' %}">ABBRECHEN</a>
            </form>
        </div>


            
      </div>
</div>


{%endblock%}