{% extends 'base.html'%}


{% block content%}
{% load static %}

<div class="row m-0 border-top ">
    <div class=" row g-0 ">
        <div class="col-8 topleiste "> 
            <span class="toptitel" >
                <strong>{{current_customer.first_name}} {{current_customer.last_name}}</strong>
            </span>
            <span class="toptitel_add">
                    ( 30 Jahre - Nr. {{current_customer.id}} )
            </span>
            <span class="toptitel" >
                <strong>Termin: {{current_calendar.day|date:"d.m.Y"}}</strong> von <strong>{{current_calendar.time_begin|time:"H:i"}} </strong>bis <strong>{{current_calendar.time_end|time:"H:i"}} Uhr</strong>
            </span>


        </div>
        <div class="col-1">
            <a href="{% url 'edit_calendar_text' current_calendar.id%}" type="button" class="btn btn-secondary mt-3" style="width: 150px;">TEXT ÄNDERN</a>
        </div>
        <div class="col-1">
            <a  href="{% url 'update_calendar' current_calendar.id%}" type="button" class="btn btn-warning mt-3">TERMIN ÄNDERN</a>
        </div>
        <div class="col-1">
            <a type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#löschen">
                TERMIN LÖSCHEN
            </a>
        </div>
        <div class="col-1">
            <a href="{% url 'positions' current_calendar.id%}" type="button" class="btn btn-warning mt-3 ms-1">Gebühren pflegen</a>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-1 text-center border side ">

        <ul class="sidebar">
            <li class="bg-secondary">
                <div class="container ">
                    <input  type="image" style="vertical-align: bottom; " src="{% static './images/face-regular-72.png' %}" />
                    <div class="overlay">
                        <a href="{% url 'customer' current_customer.id  %}">
                        <input type="image" style="vertical-align: bottom;" src="{% static './images/face-solid-72.png' %}" />
                        </a>
                    </div>
                </div>
            </li> 
            
            <li class="bg-secondary">
                <div class="container">
                    <input  type="image" style="vertical-align: bottom;" src="{% static './images/leaf-regular-72.png' %}" />
                    <div class="overlay">
                        <a href="{% url 'customer_claims' current_customer.id  %}">
                        <input type="image" style="vertical-align: bottom;" src="{% static './images/leaf-solid-72.png' %}" />
                        </a>
                        </div>
                </div>
                
                
            </li>
            <li class="bg-secondary">
                <div class="container">
                    <input type="image" class="input_active" style="vertical-align: bottom;" src="{% static './images/calendar-regular-72.png' %}" />
                    <div class="overlay">
                        <a href="{% url 'customer_calendar' current_customer.id  %}">
                            <input type="image" style="vertical-align: bottom;" src="{% static './images/calendar-solid-72.png' %}" />
                        </a>
                    </div>
                </div>
            </li>
            <li class="bg-secondary">
                <div class="container">
                    <input type="image" style="vertical-align: bottom;" src="{% static './images/wallet-regular-72.png' %}" />
                    <div class="overlay">
                        <input type="image" style="vertical-align: bottom;" src="{% static './images/wallet-solid-72.png' %}" />
                        </div>
                </div>
                
            </li>
            <li class="bg-secondary">
                <div class="container">
                    <input type="image" style="vertical-align: bottom;" src="{% static './images/paper-plane-regular-72.png' %}" />
                    <div class="overlay">
                        <input type="image" style="vertical-align: bottom;" src="{% static './images/paper-plane-solid-72.png' %}" />
                        </div>
                </div>
            </li>
        </ul>
        
    </div>
    
    <div class="col-11" style="height: 100vh;"> 
        <div class="row m-0 text-start ">

        </div>

        <div class="row m-0 text-start" >
            <div class="col-12 ps-2  ">
                <textarea class="form-control" id="" rows="30" readonly="true">
{{current_calendar.text}}  

                

                </textarea>
            </div>

        </div>
    </div>               

</div>    

<div class="modal fade" id="löschen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Termin löschen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Termin wirklich löschen?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ZURÜCK</button>
        <a href="{% url 'delete_calendar' current_calendar.id%}" role="button" class="btn btn-danger">LÖSCHEN</a>
        </div>
    </div>
    </div>
</div>







{%endblock%}