{% extends 'base.html'%}


{% block content%}

<div class="row m-0">
    <div class=" row g-0 ">
      <div class="col-4 topleiste"> 
          <span class="toptitel"><strong>Diagnose pflegen</strong></span>
      </div>
      <div class="col-6 topleiste"> 
        <span class="toptitel"><strong>DATEN RECHNUNGSEMPFÄNGER</strong></span>
    </div>

    </div>
    <div class="col border side">

    </div>

        
      <div class="col-11 " style="height: 100vh;">

        <div class="row mt-2">
          <div class="col-3 text-end">
            <p style="height: 38px; line-height: 38px;">Diagnose:</p>
          </div>
          <div class ="col-md-6 offset-md-0">            
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
          </br>
              <button type="submit" class="btn btn-lg btn-success">SPEICHERN</button>
              <a type="button" class="btn btn-lg btn-secondary" href="{% url 'customer' current_customer.id %}">ABBRECHEN</a>
          </form>
      </div>
        </div>



            
      </div>
</div>


{%endblock%}