{% extends 'base.html'%}


{% block content%}
<div class="row m-0">
    <div class=" row g-0 ">
      <div class="col-4 topleiste"> 
          <span class="toptitel"><strong> RECHNUNG {{current_invoice.number}}</strong></span>
      </div>
      <div class="col-6 topleiste"> 
        <span class="toptitel"><strong>ÄNDERN EMPFÄNGER</strong></span>
    </div>

    </div>
    <div class="col border side">

    </div>

        
      <div class="col-11 " style="height: 100vh;">
        <div class="row mt-2">
          <div class="col-3 text-end">
            <p style="height: 38px; line-height: 38px;">Titel:</p>
            <p style="height: 38px; line-height: 38px;">Vorname:</p>
            <p style="height: 38px; line-height: 38px;">Nachname:</p>
            <p style="height: 38px; line-height: 38px;">Straße:</p>
            <p style="height: 38px; line-height: 38px;">Hausnummer:</p>
            <p style="height: 38px; line-height: 38px;">Postleitzahl:</p>
            <p style="height: 38px; line-height: 38px;">Ort:</p>
            <p style="height: 38px; line-height: 38px;">Land:</p>
          </div>
          <div class ="col-md-6 offset-md-0">            
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
          </br>
              <button type="submit" class="btn btn-lg btn-success"> FORTSETZEN</button>
   
          </form>
      </div>
        </div>



            
      </div>
</div>


{%endblock%}